## for IDEA
.idea
*.iml

## for maven
jrasp-api/target/
jrasp-bridge/target/
jrasp-core/target/
jrasp-launcher/target/
jrasp-module/**/target
jrasp-module/target
jrasp-attach/bin
jrasp-attach/go.sum

jrasp-daemon/bin/jattach_darwin
jrasp-daemon/go.sum
jrasp-daemon/bin/jattach_linux
jrasp-daemon/bin/jrasp-daemon.exe
jrasp-daemon/bin/jrasp-daemon
target/

## for eclipse and vscode
.classpath
.project
.settings
.factorypath

## for vim
*.swp
*.swo
*.swn

